ion-toolbar{
    --background: none;
}

h1{
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
    margin-left: 10px;
    font-weight: 700;
}

.asterisc {
    color: red; 
}

ion-item {
    --background: none;
    opacity: 1;
      
    & div{
        width: 100%;

        & .borderInputInvalid{
            margin-block: 2px;
            border: 2px solid #ff0000;
            border-radius: 9px;
        }
    }

}

form{
    margin-top: 140px;
    div{
        margin-top: 25px;
        & a{
            text-decoration: none;
            color: #1F7995;
            text-align: end;
            display: block;
            margin-right: 10px;
            font-style: italic;
    
        }

       
            
    }

    .formFooter{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        --background: fixed;
       
        & .btnLogin{
            width: 300px;
            height: 50px;
            font-weight: 600;
            color: #0e2e38;
            border-radius: 50px !important;
            background-color: #26a7ce;

            & .spinner{
             margin-right: 10px;
            } 
        }
        
    }

    & .registrarse{
        margin-top: 5px;
        justify-content: center;
        align-items: center;
        display: flex;
        & a{
            margin-left: 5px;
            font-weight: 600;
        }
    }

    
}

