
<ion-content [fullscreen]="true" class="fondoLogin">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  
<h1>Bienvenido, Ingresa!</h1>
  <form [formGroup]="loginForm" (ngSubmit)="save()">
    <ion-item>
      <div>
        <ion-label>Correo electronico <span class="asterisc">{{asteriscoReq}}</span></ion-label>
        <ion-input type="email" formControlName="email" placeholder="ej: luis@gmail.com" [ngClass]="{ 'borderInputInvalid': isEmailValid  }"/>
        <ion-note *ngIf="isEmailRequired || isEmailValid" class="form-error-message">
          <span *ngIf="isEmailRequired">El campo es requerido</span>
          <span *ngIf="isEmailValid">Ingrese un correo válido</span>
        </ion-note>
      </div>
    </ion-item>
    
    <ion-item>
      <div>
        <ion-label>Contraseña <span class="asterisc">{{asteriscoReq}}</span></ion-label>
        <ion-input type="password" formControlName="password" placeholder="ej: H0ndur@$_2024#" [ngClass]="{ 'borderInputInvalid': isPasswordRequired}">
          <ion-input-password-toggle color="medium" slot="end"></ion-input-password-toggle>
        </ion-input>
        <ion-note *ngIf="isPasswordRequired" class="form-error-message">El campo es requerido</ion-note>
      </div>
    </ion-item>

    <div>
      <a href="#">¿Olvidaste tu contraseña?</a>
    </div>


    <div class="formFooter">
      <button type="submit" class="btnLogin" [disabled]="isFormValid">      
        <ion-spinner *ngIf="spinner" color="dark" class="spinner"/>
        {{textBtnRegister}}
      </button>
    </div>
    
    <div class="registrarse">
      <p>¿No tienes Cuenta?</p>
      <a href="/register">Registrate ahora</a>
    </div>
      
  </form>
</ion-content>
