
<ion-content class="ion-padding">
  
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    
      <div class="profile-image-container">
        <ion-img class="image-profile" [src]="user.photo" width="30" (click)="onPickImage()" alt="perfil"></ion-img>
      </div>


    <ion-item>
      <ion-label position="floating">Nombres</ion-label>
      <ion-input type="email" formControlName="name"></ion-input>
      <ion-note *ngIf="isNameRequired" class="form--error-message">
        El campo es requerido
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Número de Identidad</ion-label>
      <ion-input formControlName="dni" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Número de Teléfono</ion-label>
      <ion-input type="email" formControlName="phone"></ion-input>
      <ion-note *ngIf="isPhoneRequired || isPhoneMinLegthError" class="form--error-message">
        <span *ngIf="isPhoneRequired">El campo es requerido</span>
        <span *ngIf="isPhoneMinLegthError">El número de telefono es inválido</span>
      </ion-note>
    </ion-item>

    <ion-button type="submit" expand="block" class="ion-margin-top" [disabled]="isFormInvalid || disabled">
      <ion-spinner *ngIf="spinner" color="dark"></ion-spinner> Guardar Perfil
    </ion-button>

  </form>
</ion-content>
