
ion-toolbar{
    --background: none;
}

h1{
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
    margin-left: 10px;
    font-weight: 700;
    margin-bottom: 90px;
}

div{
    margin-top: 25px;
}

.asterisc {
    color: red; 
}

ion-item {
    --background: none;
    opacity: 1;
    color: aliceblue;
    
    & div{
        width: 100%;

        & .borderInputInvalid{
            margin-block: 2px;
            border: 2px solid #ff0000;
            border-radius: 9px;
        }
    }
  }
  

.formFooter{
   display: flex;
   justify-content: center;
   --background: fixed;
  
   & .btnRegister{
       width: 300px;
       border-radius: 50px !important;
       background: none !important;
       height: 50px;
       font-weight: 600;
       color: #f1f1f1;
       background: #979696 !important;
       
       & .spinner{
        margin-right: 10px;
       } 
   }
}

.iniciarSesion{
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    & a{
        margin-left: 5px;
        font-weight: 600;
        text-decoration: none;
        color: #979696;
        font-style: italic;
    }
}    