ion-toolbar{
    text-align: center;
}
.title-large{
    color: aqua;
    text-align: center;
}
div{
    margin-top: 25px;
}

.asterisco {
    color: red; 
}

.btnRegister{
    width: 300px; 
}

.formFooter{
    align-content: center;
    align-items: center;
}